doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Minimal GrailKit Site
    link(rel="stylesheet", href="/style.css")
  body
    .layout
      include ./components/_header.pug
      include ./components/_left-sidebar.pug
      include ./components/content/_content.pug
      include ./components/_right-sidebar.pug
      include ./components/_footer.pug
      script(src="/scripts/main.js")
