@use 'base/reset';
@use 'base/variables';
@use 'layout/grid';
@use 'components/header';
@use 'components/sidebar';
@use 'components/footer';
@use 'components/content';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: #f8f9fa;
}
